<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>TERRA PRO</h4>
                    <ul>
                        <li><a class="a" href="#">О Компании</a></li>
                        <li><a class="a" href="#">Карьера</a></li>
                        <li><a class="a" href="#">Контакты</a></li>
                        <li><a class="a" href="#">Публичная оферта</a></li>
                        <li><a class="a" href="#">Политика конфиденциальности</a></li>
                        <li><a class="a" href="#">Условия возврата</a></li>
                        <li><a class="a" href="#">Условия доставки</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ПОДДЕРЖКА КЛИЕНТОВ</h4>
                    <ul>
                        <li><a class="a" href="#">Мой аккаунт</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>МАГАЗИНЫ</h4>
                    <ul>
                        <li><a class="a" href="#">Узбекистан</a></li>
                    </ul>
                </div>
                <div class="footer-col1">
                    <input type="text" id="footer-search" class="search-title-input" name="q" maxlength="50"
                        autocomplete="off" placeholder="Поиск по сайту">
                    <div class="columns">
                        <div class="column">
                            <ul class="first-child">
                                <li><a><i id="i" class="fa-sharp fa-solid fa-envelope"></i>terrapro.retail@gmail.com</a>
                                </li>
                                <li style="margin-top: 75px;">г. Ташкент , Яккасарайский pа<i id="i1"
                                        class="fas fa-map-marker-alt"></i>йон, ул. Шота Руставели 150</li>
                            </ul>
                            <button
                                style="margin-top: 100px;padding:35px 75px;border-radius: 3%;text-decoration: white;text-align:center;"
                                class="button is-dark">Написать в<br>телеграм</button>
                        </div>
                        <div class="column">
                            <ul class="second-child">
                                <li><a style="padding-right: 1px;padding-left: 1px;"><i id="i"
                                            class="fas fa-phone fa-flip-horizontal"></i>+998 71 250 93 91</a></li>
                                <li style="margin-left: 25px;">Служба поддержки:<br>
                                    С Понедельника по Субботу<br>
                                    С 9:00 до 18:00<br>
                                    Обед: с 12:30 до 13:30 <br>
                                    <i class="fas fa-clock"></i>
                                    В связи с Новогодними каникулами, заказы не будут обрабатываться в период с
                                    30.12.2022
                                    по 03.01.2023.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
                <div class="columns">
                    <p style="width: 350px;margin-left: 450px;">&copy; 2023 TERRA PRO, Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>